*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor_2{
  background-color: rgba(255, 127, 80, 0.741);
}
.Todito{
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 2% 2%;
  box-sizing: border-box;
  }
  .titilo{
    padding: 10px;
    font-size: 75px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }
  .textito{
    padding: 5px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
  }
  /*Tamaño de todo*/
  .boxis{
      flex: 1;
      overflow: hidden;
      margin: 8px;
      line-height: 0;
      box-shadow: 0 20px 30px rgba(155, 155, 155, 0.568);
      transition: all 2s;
      background-color: white;
  }
  
  /*Tamaño de imagenes*/
  .boxis > img {
      width: 100%;
      height: calc(100% - 10vh);
      object-fit: cover;
      transition: all 2s;
      align-content: center;
  }
  
  /*Decoración para el texto de abajo*/
  .boxis > span {
      font-size: 20px;
      font-family: monospace;
      display: block;
      text-align: center;
      height: 10vh;
      line-height: 2.5;
  }
  
  /*Animaciones*/
  .boxis:hover{
      flex: 50%;
  }
  
  .boxis:hover > img {
      width: 100%;
      height: 100%;
  }
  